{% extends 'portfolio/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section id="login-page-wrapper">
    <div id="login-form-wrapper">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success" role="alert">
                        <span>{{ message }}</span>
                    </div>
                {% elif message.tags == 'error' %}
                    <div class="alert alert-error" role="alert">
                        <span>{{ message }}</span>
                    </div>
                {%endif%}
            {% endfor %}
        {% endif %}
        <h3 style="text-align: center">Регистрация</h3>
        <hr>
        <form  method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn btn-primary btn-block btn-large" type="submit" value="Войти">
        </form>
        <br>
        <p>Есть аккаунт? <a href="{% url 'portfolio:login' %}">Войти</a></p>
    </div>
</section>

{% endblock %}